
@{
    ViewData["Title"] = "Control Panel";
}




<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <!--Listing Name textarea-->
                <textarea rows="1" cols="60" placeholder="Auction Name" style="resize:none"></textarea>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <!--Description textarea-->
                <textarea rows="10" cols="60" placeholder="Description" style="resize:none"></textarea>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <!--Start Bid textarea-->
                <textarea rows="1" cols="10" placeholder="Starting Bid" style="resize:none;margin-right:20px"></textarea>
                <!--Bid Increment textarea-->
                <textarea rows="1" cols="10" placeholder="Bid Increment" style="resize:none"></textarea>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <!--Start Bid textarea-->
                <textarea rows="1" cols="10" placeholder="Start Date" style="resize:none;margin-right:20px"></textarea>
                <!--Bid Increment textarea-->
                <textarea rows="1" cols="10" placeholder="End Date" style="resize:none"></textarea>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button name="SubmitBtn">Submit</button>
        </div>
    </div>
</div>





