@model IEnumerable<CS3750TechnicalPrototypes.Models.Media>
@{
    ViewData["Title"] = "Home Page";
    Layout = "playGround";
}


<!--playground-->
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>*@

<!-- Modal -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>*@

<div>
    <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Post">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>


<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })</script>


</div>

<p></p>
<hr />
<footer>

    <script src="~/js/owl.carousel.js"></script>

    <div class="owl-carousel">
        @foreach (var pic in Model)
        {
            var fileN = String.Concat(pic.MediaPath, pic.MediaName);
          //  <div>test</div>
            <div><img src="@fileN" width="100" height="100" /></div>
        }

    </div>

    @*<script type="text/javascript">
                        $(document).ready(function () {
                            $(".owl-carousel").owlCarousel();
                        });
        </script>*@

    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 5,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
    </script>
</footer>

