@model IEnumerable<CS3750TechnicalPrototypes.Models.Media>
@{
    ViewData["Title"] = "Home Page";
   // Layout = "playGround";
}


<!--playground-->
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>*@

<!-- Modal -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>*@


@*<footer>

    <script src="~/js/owl.carousel.js"></script>

    <div class="owl-carousel">
        @foreach (var pic in Model)
        {
            var fileN = String.Concat(pic.MediaPath, pic.MediaName);
          //  <div>test</div>
            <div><img src="@fileN" width="100" height="100" /></div>
        }

    </div>

    @*<script type="text/javascript">
                        $(document).ready(function () {
                            $(".owl-carousel").owlCarousel();
                        });
        </script>

    <script type="text/javascript">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 5,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
    </script>
</footer> *@

<div style="min-height:100px;min-width:100px">
    <img id="bigpic" src="~/media/carousel/batman.jpg" style="max-height:100px;max-width:100px" />
</div>

<div id="thumbs" style="max-height:40px;max-width:40px">
    <img src="~/media/carousel/csharp.png" style="max-height:40px;max-width:40px" />
    <img src="~/media/carousel/download (2).jpg" style="max-height:40px;max-width:40px"/>
    <img src="~/media/carousel/thanks.jpg" style="max-height:40px;max-width:40px" />
</div>

<script type="text/javascript">

    function init() {

        th = document.getElementById('thumbs').getElementsByTagName('img');
        for (c = 0; c < th.length; c++) {
            th[c].onclick = function () {
                swapImage(this.src);

            }
        }
    }

    function swapImage(url) {

     
        document.getElementById('bigpic').src = url;

    }

    window.addEventListener ?
        window.addEventListener('load', init, false) :
        window.attachEvent('onload', init);

</script>