html{
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 90%;
    background-color: white;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*.BodyContainer {
    position: relative;
    background-color: white;
}*/

.BannerImage {
    width: 100%;
    padding-top: 0px;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('~/images/MainBanner.jpg');
    position: fixed;
}

/*.BannerImage img {
    height: 100%;
    position: absolute;
}*/

.parallax {
    width: 100%;
    padding-top: 0px;
    height: 25%;
    background-image: url('../images/mainbanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-auction {
    width: 100%;
    padding-top: 0px;
    height: 25%;
    background-image: url('../images/AuctionBanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}