@{
	ViewData["Title"] = "Confirm your account.";
}

<div class="text-center">
	<h2>Verification Needed</h2>

	<p>Some verification is needed. An email has been sent to the email address you entered. Please check your email for a confirmation.</p>
	<p class="text-info">No email? Check your spam/junk folder and add confirm@phbgtu-org.com to your contact list.</p>
	<br />
	<hr />
	<br />
	<p class="text-muted">DEBUG: No email system is set up. This is just a mock page.</p>
	<a asp-action="Index" asp-controller="Home">Click here to mock-confirm your email address and login.</a>
	<a asp-action="Login" asp-controller="Users">Click here to login.</a>
</div>