@model CS3750TechnicalPrototypes.Models.Auction

@{
    ViewData["Title"] = "Create";
    // Layout = null;
}



<form asp-action="Create">
    <hr />
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <label asp-for="AuctionName" class="sr-only control-label">Auction Name:</label>
            <div>
                <input asp-for="AuctionName" class="form-control" placeholder="Auction Name"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <label asp-for="description" class="sr-only control-label">Description</label>
            <div>
                <textarea asp-for="description" class="form-control" placeholder="Description" cols="120" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <label asp-for="startDate" class="sr-only control-label"></label>

            <div style="float:left;margin-right:40px">
                <input asp-for="startDate" class="form-control " style="width:200px" placeholder="Start Date (mm/dd/yyyy)" />
            </div>

            <label asp-for="endDate" class="sr-only control-label"></label>
            <div">
                <input asp-for="endDate" class="form-control" style="width:200px" placeholder="End Date (mm/dd/yyyy)" />
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-4"></div>

        <label asp-for="openingBid" class="sr-only control-label"></label>

        <div style="float:left;margin-right:40px">
            <input asp-for="openingBid" class="form-control" style="width:200px;" placeholder="Starting Bid" />
        </div>

        <label asp-for="increment" class="sr-only control-label"></label>
        <div>
            <input asp-for="increment" class="form-control" style="width:200px" placeholder="Bid Increment" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-8 col-md-12">
            <!--Submit button-->
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
